---
port: 8989
debug: false
database: mysql://tourneyweb1:CHANGE_ME@tcp(localhost:3306)/tourneyweb
adminpassword: CHANGE_ME
disabledelete: false
bannerimagepath: dawgpoundlogo.jpg
csrfkey: CHANGE_ME_generate_with_openssl_rand_hex_32
