port: 8989
debug: false
database: postgres://tourneyweb1:CHANGE_ME@localhost:5432/tourneyweb?sslmode=disable
csrfkey: CHANGE_ME_generate_with_openssl_rand_hex_32
disabledelete: false
bannerimagepath: ""
smtphost: smtp.mail.me.com
smtpport: "587"
smtpusername: your@email.com
smtppassword: CHANGE_ME
fromemail: tourneyweb@yourdomain.com
baseurl: https://tourneyweb.example.com
disableemailverification: false
