{{define "adminDivisions"}}
{{template "header" .}}
<h2>Add Division</h2>
<form method="post" action="/admin/tournaments/{{.Tournament.ID}}/divisions">
<table>
<tr><td>Division Name</td><td><input type="text" name="divisionname"></td></tr>
<tr><td></td><td><input type="submit" name="submit"></td></tr>
</table>
{{.CSRFField}}
</form>
<table border="1" cellpadding="1" cellspacing="0">
{{range .Divisions}}
<tr>
  <td><a href="/admin/tournaments/{{$.Tournament.ID}}/divisions/{{.ID}}">{{.Name}}</a></td>
  {{if not $.DisableDelete}}
  <td valign="top">
    <form method="post" action="/admin/tournaments/{{$.Tournament.ID}}/divisions/{{.ID}}/delete" onsubmit="return confirm('Delete this division and all its games?')">
      {{$.CSRFField}}
      <input type="submit" value="Delete">
    </form>
  </td>
  {{end}}
  <td valign="top">
    <form action="/admin/tournaments/{{$.Tournament.ID}}/divisions/{{.ID}}/games/new">
      <input type="submit" value="Add Game">
    </form>
  </td>
</tr>
{{end}}
</table>
{{template "footer" .}}
{{end}}
