{{define "adminDivisionView"}}
{{template "header" .}}
<H1>{{.Division.Name}}</H1>
<table>
<tr><th>Team Name</th><th>Coach</th><th>Wins</th><th>Losses</th></tr>
{{range .Teams}}
<tr>
  <td>{{.Name}}</td>
  <td>{{.Coach}}</td>
  <td>{{.Wins}}</td>
  <td>{{.Losses}}</td>
</tr>
{{end}}
</table>
<br>
<form action="/admin/teams"><input type="submit" name="Add Team" value="Add Team"></form>
<br>
<h2>Games</h2>
<table>
<tr><th>Home Team</th><th>Away Team</th><th>Location</th><th>Start time</th><th>Umpire</th><th>Score Game</th>{{if not $.DisableDelete}}<th>Delete Game</th>{{end}}<th>Home Team Score</th><th>Away Team Score</th></tr>
{{range .Games}}
<tr>
  <td>{{.HomeTeam.Name}} {{.HomeTeam.Coach}}</td>
  <td>{{.AwayTeam.Name}} {{.AwayTeam.Coach}}</td>
  <td>{{.Location}}</td>
  <td>{{.Start}}</td>
  <td>{{.Umpire}}</td>
  <td><a href="/admin/scoregame/{{.ID}}">Score Game</a></td>
  {{if not $.DisableDelete}}<td><a href="/admin/delgame/{{.ID}}">Delete Game</a></td>{{end}}
  <td>{{.HomeScore}}</td>
  <td>{{.AwayScore}}</td>
</tr>
{{end}}
</table>
<br>
<form action="/admin/creategame/{{.DivisionID}}">
  <input type="submit" name="Add Game" value="Add Game">
</form>
{{template "footer" .}}
{{end}}
