{{define "adminDivisionView"}}
{{template "header" .}}
<H1>{{.Division.Name}}</H1>
<p><a href="/admin/tournaments/{{.Tournament.ID}}/divisions/{{.DivisionID}}/edit">Edit Division</a></p>
<table class="tw-sortable">
<tr><th>Team Name</th><th>Coach</th><th data-sort="number">Wins</th><th data-sort="number">Losses</th></tr>
{{range .Teams}}
<tr>
  <td>{{.Name}}</td>
  <td>{{.Coach}}</td>
  <td>{{.Wins}}</td>
  <td>{{.Losses}}</td>
</tr>
{{end}}
</table>
<br>
<form action="/admin/tournaments/{{.Tournament.ID}}/teams"><input type="submit" value="Add Team"></form>
<br>
<h2>Games</h2>
<table class="tw-sortable">
<tr><th>Home Team</th><th>Away Team</th><th>Location</th><th>Start time</th><th>Umpire</th><th>Score Game</th><th>Edit</th>{{if not $.DisableDelete}}<th>Delete Game</th>{{end}}<th data-sort="number">Home Score</th><th data-sort="number">Away Score</th></tr>
{{range .Games}}
<tr>
  <td>{{.HomeTeam.Name}} {{.HomeTeam.Coach}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .HomeTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.AwayTeam.Name}} {{.AwayTeam.Coach}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .AwayTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.Location}}</td>
  <td>{{formatTime .Start}}</td>
  <td>{{.Umpire}}</td>
  <td><a href="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/score">Score Game</a></td>
  <td><a href="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/edit">Edit</a></td>
  {{if not $.DisableDelete}}<td><a href="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/delete">Delete Game</a></td>{{end}}
  <td>{{.HomeScore}}</td>
  <td>{{.AwayScore}}</td>
</tr>
{{end}}
</table>
<br>
<form action="/admin/tournaments/{{.Tournament.ID}}/divisions/{{.DivisionID}}/games/new">
  <input type="submit" value="Add Game">
</form>
{{template "footer" .}}
{{end}}
