{{define "adminDivisions"}}
{{template "header" .}}
<form method="post" action="/admin/adddivision">
<table>
<tr><td>Division Name</td><td><input type="text" name="divisionname"></td></tr>
<tr><td></td><td><input type="submit" name="submit"></td></tr>
</table>
{{.CSRFField}}
</form>
<table border="1" cellpadding="1" cellspacing="0">
{{range .Divisions}}
<tr>
  <td><a href="/admin/divisions/{{.ID}}">{{.Name}}</a></td>
  {{if not $.DisableDelete}}
  <td valign="top">
    <form method="post" action="/admin/deldivision">
      <input type="hidden" name="divisionid" value="{{.ID}}">
      {{$.CSRFField}}
      <input type="submit" name="delete" value="delete">
    </form>
  </td>
  {{end}}
  <td valign="top">
    <form action="/admin/creategame/{{.ID}}">
      <input type="submit" name="Add Game" value="Add Game">
    </form>
  </td>
</tr>
{{end}}
</table>
{{template "footer" .}}
{{end}}
