{{define "adminGames"}}
{{template "header" .}}
<table border="1" cellpadding="1" cellspacing="0">
<tr><th>Home Team</th><th>Home Score</th><th>Away Team</th><th>Away Score</th><th>Location</th><th>Start Time</th><th>Umpire</th><th>Score Game</th><th>Edit</th>{{if not $.DisableDelete}}<th>Delete</th>{{end}}</tr>
{{range .Games}}
<tr>
  <td>{{.HomeTeam.Name}} - {{.HomeTeam.Coach}}</td>
  <td>{{.HomeScore}}</td>
  <td>{{.AwayTeam.Name}} - {{.AwayTeam.Coach}}</td>
  <td>{{.AwayScore}}</td>
  <td>{{.Location}}</td>
  <td>{{formatTime .Start}}</td>
  <td>{{.Umpire}}</td>
  <td><a href="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/score">Score Game</a></td>
  <td><a href="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/edit">Edit</a></td>
  {{if not $.DisableDelete}}<td>
    <form method="post" action="/admin/tournaments/{{$.Tournament.ID}}/games/{{.ID}}/delete" onsubmit="return confirm('Delete this game?')">
      {{$.CSRFField}}
      <input type="submit" value="Delete">
    </form>
  </td>{{end}}
</tr>
{{end}}
</table>
{{template "footer" .}}
{{end}}
