{{define "games"}}
{{template "header" .}}
<p><a href="/tournaments/{{.Tournament.ID}}/calendar">&#128197; Calendar view</a></p>
<table border="1" cellpadding="1" cellspacing="0" class="tw-sortable">
<tr><th>Division</th><th>Home Team</th><th data-sort="number">Home Team Score</th><th>Away Team</th><th data-sort="number">Away Team Score</th><th>Location</th><th>Start Time</th><th>Umpire</th>{{if $.User.CanScore $.Tournament.ID}}<th></th>{{end}}</tr>
{{range .Games}}
<tr>
  <td>{{.Division.Name}}</td>
  <td>{{.HomeTeam.Name}} - {{.HomeTeam.Coach}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .HomeTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.HomeScore}}</td>
  <td>{{.AwayTeam.Name}} - {{.AwayTeam.Coach}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .AwayTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.AwayScore}}</td>
  <td>{{.Location}}</td>
  <td>{{formatTime .Start}}</td>
  <td>{{.Umpire}}</td>
  {{if $.User.CanScore $.Tournament.ID}}<td><a href="/tournaments/{{$.Tournament.ID}}/score/games/{{.ID}}">Score</a></td>{{end}}
</tr>
{{end}}
</table>
{{template "footer" .}}
{{end}}
