{{define "games"}}
{{template "header" .}}
<table border="1" cellpadding="1" cellspacing="0">
<tr><th>Division</th><th>Home Team</th><th>Home Team Score</th><th>Away Team</th><th>Away Team Score</th><th>Location</th><th>Start Time</th><th>Umpire</th>{{if $.User.CanScore $.Tournament.ID}}<th></th>{{end}}</tr>
{{range .Games}}
<tr>
  <td>{{.Division.Name}}</td>
  <td>{{.HomeTeam.Name}} - {{.HomeTeam.Coach}}</td>
  <td>{{.HomeScore}}</td>
  <td>{{.AwayTeam.Name}} - {{.AwayTeam.Coach}}</td>
  <td>{{.AwayScore}}</td>
  <td>{{.Location}}</td>
  <td>{{.Start}}</td>
  <td>{{.Umpire}}</td>
  {{if $.User.CanScore $.Tournament.ID}}<td><a href="/tournaments/{{$.Tournament.ID}}/score/games/{{.ID}}">Score</a></td>{{end}}
</tr>
{{end}}
</table>
{{template "footer" .}}
{{end}}
