{{define "hrderby"}}
{{template "header" .}}
<h1>Home Run Derby and Skills Competition</h1>
We will be having a Home Run Derby and Skills Competition at the tournament this Saturday at the Wayland fields, Dorr fields, and Otsego fields after games are completed for the day. Home Run Derby and Roadrunner are $5 to enter, and Around the Horn is $10 to enter a 5 player team. Your player/team may sign-up before this Saturday via Venmo at <b><a href="https://venmo.com/code?user_id=2716969862168576351"> https://venmo.com/code?user_id=2716969862168576351</a></b><br><br>
OR you may sign-up  the day of at the information table by check made out to Wayland Union Schools, or with cash at the information table at your field location.
Sign-up before Saturday at this link: <b><a href="https://www.signupgenius.com/go/20F0D44AAAE23A2F94-skills">https://www.signupgenius.com/go/20F0D44AAAE23A2F94-skills</a></b> <br><br>
<b>Road Runner</b> (All Players)<br>
Each player will run around the bases once while being timed. If a player misses a base they must go back and touch the base. The top 3 players will advance to the final round.
<br><br>
<b>Around the Horn</b> (5 players) <br>
Around the horn consists of 5 players from each team. A catcher, 3rd baseman, 2nd baseman, short stop and 1st baseman. The order for this competition will be: C, 3rd, 2nd, SS, 1st, SS, 2nd, 3rd, C. The clock starts when the catcher releases the ball on his throw to third and will stop when the catcher catches the throw back to him from 3rd. Top 3 teams move on to final round.
<br><br>
<b>Home Run Derby</b> (All Players)<br>
Each player will have 5 outs. Any swing that results from something other than a home run out the park is an out. Top three players advance to the final round. <br>
NOTE: Participants must provide their own pitchers please. <br>
{{template "footer" .}}
{{end}}
