{{define "team"}}
{{template "header" .}}
<br>{{.Team.Name}} {{.Team.Coach}} {{.Team.Division.Name}}<br>
<table class="tw-sortable">
<tr><th>Home</th><th>Away</th><th>Location</th><th>Start time</th><th>Umpire</th></tr>
{{range .Games}}
<tr>
  <td>{{.HomeTeam.Name}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .HomeTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.AwayTeam.Name}}{{if and .ScrimmageTeamID (eq .ScrimmageTeamID .AwayTeam.ID)}} <em style="color:#888;font-size:0.85em;">(non-counting)</em>{{end}}</td>
  <td>{{.Location}}</td>
  <td>{{formatTime .Start}}</td>
  <td>{{.Umpire}}</td>
</tr>
{{end}}
</table>
{{if .Players}}
<h2>Roster</h2>
<table class="tw-sortable">
<tr><th data-sort="number">#</th><th>Name</th><th>Handed</th><th>Position</th></tr>
{{range .Players}}
<tr>
  <td>{{.Number}}</td>
  <td>{{.DisplayName}}</td>
  <td>{{.Handed}}</td>
  <td>{{.Position}}</td>
</tr>
{{end}}
</table>
{{end}}
{{template "footer" .}}
{{end}}
