{{define "tournament"}}
{{template "header" .}}
<h1>{{.Tournament.Name}}</h1>
<p>{{.Tournament.Sport}} | {{.Tournament.Location}} | {{.Tournament.StartDate.Format "Jan 2, 2006"}}</p>
{{if .Tournament.Notes}}<p>{{.Tournament.Notes}}</p>{{end}}
{{if .Tournament.ExtrasHTML}}<p><a href="/tournaments/{{.Tournament.ID}}/extras">Event Extras</a></p>{{end}}
<p>Click a division for standings. Click a team for their schedule.</p>
{{range .Divisions}}
<h2><a href="/tournaments/{{$.Tournament.ID}}/divisions/{{.ID}}">{{.Name}}</a></h2>
<ul>
{{range index $.Teams .ID}}
<li><a href="/tournaments/{{$.Tournament.ID}}/teams/{{.ID}}">{{.Name}}</a> {{.Coach}}</li>
{{end}}
</ul>
{{end}}
{{if .News}}
<hr>
<h2>News</h2>
{{range .News}}
<div style="margin-bottom:1.5em">
  <strong>{{.Title}}</strong> &mdash; <em>{{formatTime .CreatedAt}}</em>{{if .AuthorName}} &mdash; {{.AuthorName}}{{end}}
  <div>{{.Body | htmlSafe}}</div>
</div>
<hr>
{{end}}
{{end}}

{{if .Tournament.RulesHTML}}
<hr>
<h2>Rules</h2>
{{.Tournament.RulesHTML | htmlSafe}}
{{end}}
{{template "footer" .}}
{{end}}
